<!DOCTYPE html>
<html lang="en" ng-app="App" >
<head>
    <meta charset="utf-8" />
    <title>@Html.Raw("Aprovação")</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        jQuery(document).ready(function () {
            window.$rootUrl = '@Web.Util.Util.RootUrl';
        });

    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/Scripts/App/controllers/menu-controller.js")
    @Scripts.Render("~/Scripts/App/controllers/nota-compra-controller.js")
    @Scripts.Render("~/Scripts/App/controllers/login-controller.js")
    @Scripts.Render("~/Scripts/App/services/routes-service.js")
    @Scripts.Render("~/Scripts/App/services/erro-servidor-service.js")

    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.tablednd.js"></script>
    
</head>
<body >
    <header>
        <nav class="navbar navbar-default navbar-static-top" ng-controller="MenuCtrl">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: white;">Aprovação</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    @if (Web.Auth.Sessao.Ativa != null)
                    {
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Nota de Compra</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" ng-click="sair();">@string.Format("{0} | Sair", Web.Auth.Sessao.Ativa.Usuario.Login)</a></li>
                        </ul>
                    }

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    
    @Html.Partial("_Recursos")
    @RenderSection("scripts", required: false)


</body>
</html>
